<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Introdução ao Vuejs</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>

    <div id="app">
        {{titulo}}
        <br>
        <input type="text" placeholder="Nome" v-model="nome">
        <br>
        {{nome}}
        <br>
        <button @click="limpar">Limpar</button>
        <div>
            <p @click="imprimir(n)" v-for="n in nomes">{{n}}</p>
        </div>
    </div>

    <script>
        //let titulo = "Olá mundo em JavaScript";
        // Pega o elemento = tag
        //document.getElementById("app").innerHTML = titulo;

        // Instanciar o Vue
        new Vue({
            // dados
            data: {
                titulo: "Olá mundo em Vuejs",
                nome: "",
                nomes: [
                    "José Pafúncio",
                    "Josecrilson Sabfino",
                    "Jão Crisinose",
                    "Epfâcrisa Espifrone"
                ]
            },
            // métodos
            methods: {
                limpar(){
                    this.nome = "";
                },
                imprimir(nome){
                    alert(nome);
                }
            },
            // ponto de acessa
            el: "#app"
        })

    </script>
</body>

</html>