*{
    box-sizing: border-box;
}
body{
    padding: 0px;
    margin: 0px;
    height: 1000px;
    font-family: sans-serif;
    background-repeat: no-repeat;
    background-image: linear-gradient(45deg, blue 10%, rgb(14, 241, 120))
}
h1{
    margin: 0px;
    display: inline-block;
    margin-left: 20px;
}
.toolbar{
    background-color: white;
    box-shadow: 0px 2px 10px rgba(0,0,0,.4);
    height: 60px;
    position: fixed;
    top: 0px;
    width: 100%;
    padding: 17px;
    z-index: 1;
}
.toolbar img{
    width: 25px;
}
.toolbar img.right{
    float: right;
}
.form{
    background-color: white;
    width: 80%; 
    margin: auto;
    margin-top: 100px;    
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0px 1px 20px rgba(0,0,0,.4);
    position: relative;
}
.form input{
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid gray;
}
.form button{
    border: none;
    background-color: rgb(88, 88, 255);
    width: 100%;
    color: white;
    font-size: 10pt;
    padding: 10px 0px;
    border-radius: 30px;    
}
.imagem-icone{
    padding: 18px;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    position: absolute;
    top: -35px;
    right: calc(50% - 35px);
    background-color: white;
    box-shadow: 0px 1px 5px rgba(0,0,0,.4);
}
.tabela{
    width: 80%;
    margin: auto;
    background-color: white;
    margin-top: 20px;
    padding: 10px;
    border-radius:5px;
    box-shadow: 0px 1px 20px rgba(0,0,0,.4); 
}
.tabela img{
    width: 20px;
}