<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Loja Vuejs</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
    <script src="js/model/usuario.js"></script>
</head>

<body>

    <v-app id="app">
        <v-toolbar color="light-blue">
            <v-toolbar-side-icon class="white--text"></v-toolbar-side-icon>
            <v-toolbar-title class="white--text">{{titulo}}</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items class="hidden-sm-and-down">
                <v-menu :nudge-width="100" v-if="usuarioLogado">
                    <v-toolbar-title slot="activator">
                        <span>{{usuarioLogado.nome}}</span>
                        <v-icon dark>arrow_drop_down</v-icon>
                    </v-toolbar-title>

                    <v-list>
                        <v-list-tile @click="logout">
                            <v-list-tile-title>Sair</v-list-tile-title>
                        </v-list-tile>
                    </v-list>
                </v-menu>
            </v-toolbar-items>
        </v-toolbar>
        <v-content>
            <v-container fluid grid-list-md>
                <v-alert v-for="e in erros" v-model="e.exibir" dismissible type="error">
                    {{e.mensagem}}
                </v-alert>
                <div v-if="!usuarioLogado">
                    <h1>Olá, cadastre-se para comprar!</h1>
                    <v-form>
                        <v-text-field type="text" label="Nome" v-model="usuario.nome"></v-text-field>
                        <v-text-field type="email" label="Email" v-model="usuario.email"></v-text-field>
                        <v-text-field type="password" label="Senha" v-model="usuario.senha"></v-text-field>
                        <v-btn type="button" @click="salvar">Salvar</v-btn>
                    </v-form>
                </div>
                <div v-else>
                    <h1>Olá {{usuarioLogado.nome}}! Seja bem-vindo à Loja Vue!</h1>
                    <v-layout row wrap>
                        <v-flex xs12 sm10>
                            <v-layout row wrap>
                                <v-flex xs12 v-for="i in 3">
                                    <v-card>
                                        <v-card-title>
                                            <div>
                                                <h3>Loja {{i}}</h3>
                                            </div>
                                        </v-card-title>
                                    </v-card>
                                </v-flex>
                            </v-layout>
                        </v-flex>
                        <v-flex xs12 sm2>
                            <v-card color="grey" class="white--text">
                                <v-card-text class="text-xs-center">
                                    Anuncie aqui
                                </v-card-text>
                            </v-card>
                        </v-flex>
                    </v-layout>
                </div>
            </v-container>
        </v-content>

    </v-app>

    <script src="js/app.js"></script>
</body>

</html>